/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hero {

   
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* pointer-events: none; */
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto; */
    /* padding: 1rem; */

}

#video {
     width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    margin-top: -55px;
    pointer-events: none;
    /* position: relative; */
}


#video2 {
     width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 4;

    /* margin-top: -55px; */
    /* pointer-events: none; */
    position: absolute;
}

 
.hero .content {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.form {
    display: flex;
    background-color: #ffffffcc;
    color: #000;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.form input[type=text] {
    border: transparent;
    background-color: transparent;
    width: 400px;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
}

.form input[type=text]:focus {
    outline: none;
}

@media screen and (max-width: 940px) {
    .form input[type=text] {
        max-width: 275px;
    }

}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}
